html,body { 
   padding: 0; 
   margin: 0; 
   border: 0; 
   height: 100%;
   overflow: hidden;
   outline:none;
} 
.cont-main {
    width:1700px;
    height: calc(100% - 210px);
    padding:16px;
    display: inline-block;
}

.cont-main > div {
    height:100%;
}

.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}

.gutter {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url('../grips/vertical.png');
}

.gutter.gutter-vertical {
    cursor: row-resize;
    background-image: url('../grips/horizontal.png');
}

.split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

.cls-border {
    border: solid 1px #aaa;
    border-radius: 4px;
}

.cont-item {
    padding :10px
}

.cont-icon {
    width:96px;
    height:72px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor:pointer;
}

.cont-title {
    cursor:pointer;
    text-align: center;
}

.cls-list {
    width:100%;
    border-collapse: collapse;
}

.cls-link {
    cursor: pointer;
    color: blue;
    text-decoration-line: underline;
}

.cls-list > tbody > tr {
    border-bottom: 1px solid #dedede;
}

.cls-list > tbody > tr > th, .cls-list > tbody > tr > td {
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.cls-table > tbody > tr > td {
    padding:8px;
    white-space: nowrap;
}

.cls-table > tbody > tr > td:nth-child(1), .cls-table > tbody > tr > td:nth-child(3) {
    width:136px;
}

.cls-table {
    table-layout: fixed;
}

.cls-list > tbody > tr:nth-child(1) {
    background-color: #eee;
    height: 48px;
}

.jstree-node {
    padding-top: 4px !important;
}

.cls-list-title {
    float: left;
    font-size: 18pt;
    padding: 12px;
    font-weight:bold;
}

.cls-list-buttons {
    float:right;
    line-height: 48px;
    display: inline-block;
}

.cls-list-buttons > button {
    vertical-align: bottom;
}

button {
    cursor:pointer;
    box-shadow: 1px 1px 1px #ccc;
    border:1px solid #aaa;
    border-radius: 4px;
    padding:4px;
    padding-left:16px;
    padding-right:16px;
    background-color: #fff; 
}

.cls-button {
    color:#fff;
    background-color: #7d7d7d; 
    font-weight:bold;
}

input, select {
    border:1px solid #ddd;
    padding:4px;
}
.item0 {
    background-image: url(proj.png);
}
.item0:hover {
    background-image: url(proj_on.png);
}
.item1 {
    background-image: url(stru.png);
}
.item1:hover {
    background-image: url(stru_on.png);
}
.item2 {
    background-image: url(3d.png);
}
.item2:hover {
    background-image: url(3d_on.png);
}
.item3 {
    background-image: url(room.png);
}
.item3:hover {
    background-image: url(room_on.png);
}
.item4 {
    background-image: url(result.png);
}
.item4:hover {
    background-image: url(result_on.png);
}

.jstree-default .jstree-node {
    margin-left: 12px !important;
}

.cls-number {
    width:calc(100% - 64px) !important;
}

.cls-popup-btn {
    background-image: url(/apps/si/passive/img/popup.svg);
    width:26px;
    height:26px;
    cursor:pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
} 

.cls-edit-btn {
    background-image: url(/apps/si/passive/img/edit.svg);
    width:26px;
    height:26px;
    cursor:pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
} 

.cls-next {
    background-image: url(/apps/si/passive/img/next.svg);
} 

.cls-prev {
    background-image: url(/apps/si/passive/img/prev.svg);
} 

.cls-slide {
    width:26px;
    height:26px;
    cursor:pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: calc(50% - 13px);
    z-index: 10000;
} 

.cls-upload-btn {
    background-image: url(/apps/si/passive/img/upload.png);
    width:32px;
    height:32px;
    cursor:pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    z-index: 10000;
} 

.cls-General-icon {
    background-image: url(../images/2ndicon/1_1General.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}
.cls-EnergyUse-icon {
    background-image: url(../images/2ndicon/1_2EnergyUse.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}
.cls-CW-icon {
    background-image: url(../images/2ndicon/2_1CW.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}

.cls-Wall-icon {
    background-image: url(../images/2ndicon/2_2Wall.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}

.cls-Roof-icon {
    background-image: url(../images/2ndicon/2_3Roof.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}

.cls-Floor-icon {
    background-image: url(../images/2ndicon/2_4Floor.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}
.cls-Window-icon {
    background-image: url(../images/2ndicon/2_5Window.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}
.cls-Door-icon {
    background-image: url(../images/2ndicon/2_6Door.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}
.cls-Model-icon {
    background-image: url(../images/2ndicon/3_1Model.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}
.cls-Shade-icon {
    background-image: url(../images/2ndicon/3_2Shade.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}
.cls-Blind-icon {
    background-image: url(../images/2ndicon/3_3Blind.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}
.cls-ThermalBridge-icon {
    background-image: url(../images/2ndicon/3_4ThermalBridge.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}
.cls-ZoneGeneral-icon {
    background-image: url(../images/2ndicon/4_1_1ZoneGeneral.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}
.cls-ZoneEnvelope-icon {
    background-image: url(../images/2ndicon/4_1_2ZoneEnvelope.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}
.cls-ZoneLighting-icon {
    background-image: url(../images/2ndicon/4_1_3ZoneLighting.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}
.cls-ZoneSystem-icon {
    background-image: url(../images/2ndicon/4_1_4ZoneSystem.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}
.cls-EquipmentList-icon {
    background-image: url(../images/2ndicon/5_1EquipmentList.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}
.cls-AHUSystem-icon {
    background-image: url(../images/2ndicon/5_2AHUSystem.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}
.cls-DHWSystem-icon {
    background-image: url(../images/2ndicon/5_3DHWSystem.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}
.cls-HeatingSystem-icon {
    background-image: url(../images/2ndicon/5_4HeatingSystem.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}
.cls-CoolingSystem-icon {
    background-image: url(../images/2ndicon/5_5CoolingSystem.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}
.cls-PVSystem-icon {
    background-image: url(../images/2ndicon/6_1PVSystem.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}
.cls-FuelCell-icon {
    background-image: url(../images/2ndicon/6_2FuelCell.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}
.cls-WindPower-icon {
    background-image: url(../images/2ndicon/6_3WindPower.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}
.cls-SupplyRatio-icon {
    background-image: url(../images/2ndicon/6_4SupplyRatio.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}
.cls-EIndependeceRate-icon {
    background-image: url(../images/2ndicon/6_5EIndependeceRate.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}
.cls-ReportExisting-icon {
    background-image: url(../images/2ndicon/7_1ReportExisting.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}
.cls-ReportRemodeling-icon {
    background-image: url(../images/2ndicon/7_2ReportRemodeling.png) !important;
    margin-right: 6px !important;
    background-size: contain;
}


